resource_group_name = "rg-pipelinehealer-dev"
location            = "eastus2"

environment_name                = "dev"
base_name                       = "pipelinehealer"
acr_name                        = "pipelinehealeracr"
container_apps_environment_name = "cae-pipelinehealer-dev"
backend_container_app_name      = "pipelinehealer-backend-dev"
frontend_container_app_name     = "pipelinehealer-frontend-dev"
backend_image_name              = "pipelinehealer-backend"
frontend_image_name             = "pipelinehealer-frontend"
image_tag                       = "latest"
acr_pull_identity_name          = "id-pipelinehealer-acrpull"

api_auth_key                = "replace_me_api_auth_key"
admin_api_key               = "replace_me_admin_api_key"
github_webhook_secret       = "replace_me_webhook_secret"
github_personal_access_token = ""

tags = {
  app         = "pipelinehealer"
  environment = "dev"
}
